# Analyzing Personality Domain Evaluation üåä

Using the  **Persona-Predict V2** üß† service to assess the nuanced understanding of **Brazilian Portuguese** üáßüá∑ in each of the **Big Five** personality domains. For more information about the service visit: [docs.neuroquest.ai/persona-predict](https://docs.neuroquest.ai/persona-predict/)

If the graphics are not rendered üö´, use the address:

  - [View in NBViewer](https://nbviewer.org/github/NeuroQuestAi/neuroquest-examples/blob/main/products/persona-predict/notebooks/Persona-Predict-Eval-PT-BR.ipynb?flush_cache=true)

In [1]:
import os

import pandas as pd
import utility as U

In [2]:
NQ_USER = os.getenv("NQ_USER")
NQ_PASSWORD = os.getenv("NQ_PASSWORD")

In [4]:
assert NQ_USER is not None, "set the user"
assert NQ_PASSWORD is not None, "set the password"

In [5]:
def create_analysis(name: str, essay: str, domain: str, level: str) -> dict:
    analysis = U.api_predict_create(
        token=U.api_login(user=NQ_USER, password=NQ_PASSWORD).get("data").get("token"),
        data={
            "name": name,
            "essay": essay,
            "domain": domain,
            "task": False,
        },
        save_result=False,
    )
    U.api_save_result_domain(data=analysis, domain=domain, level=level)
    return analysis

## 1. Big-Five Openness Domains üßë‚Äçüé® 

- Evaluate the capture of nuances of Openness to Experience texts.

### 1.1 Capture Openness High

In [6]:
essay_pt_br_O_high = """
A vida √© um vasto campo de possibilidades, onde cada novo dia √© uma tela em branco, pronta para ser preenchida com cores, 
formas e ideias √∫nicas. Adoro explorar o desconhecido, mergulhando em livros que me transportam para mundos distantes, 
experimentando sabores ex√≥ticos e permitindo que minha mente vagueie por conceitos abstratos e filos√≥ficos. A curiosidade 
√© minha guia, sempre me levando a questionar o status quo e a buscar novas perspectivas. Acredito que a verdadeira beleza 
reside na diversidade das experi√™ncias e na liberdade de reinventar a pr√≥pria exist√™ncia a cada instante.
"""

In [7]:
analysis = create_analysis(
    name="Openness",
    essay=" ".join(essay_pt_br_O_high.split()),
    domain="O",
    level="high",
)

In [8]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result", "confidence", "score"])

                    name     result  confidence score
0             Imagina√ß√£o  77.090712   98.596553  high
1  Interesses Art√≠sticos  75.968127   98.533283  high
2            Emotividade  80.495906   98.658241  high
3     Desejo de Aventura  78.473721   98.504548  high
4       Intelectualidade  81.895766   98.594099  high
5            Liberalismo  74.744025   98.647199  high

### 1.2 Capture Openness Low

In [9]:
essay_pt_br_O_low = """
Prefiro manter as coisas do jeito que s√£o, sem muitas mudan√ßas ou surpresas. A rotina traz seguran√ßa e me permite 
focar no que realmente importa. valorizo a tradi√ß√£o e as pr√°ticas que j√° foram testadas e comprovadas ao longo do tempo. 
N√£o vejo necessidade de explorar coisas novas ou arriscar, quando j√° sei o que funciona bem para mim. Gosto de seguir 
um plano e evitar distra√ß√µes, focando no que √© pr√°tico e eficiente. a vida √© melhor quando √© simples e previs√≠vel.
"""

In [10]:
analysis = create_analysis(
    name="Openness", essay=" ".join(essay_pt_br_O_low.split()), domain="O", level="low"
)

In [11]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result", "confidence", "score"])

                    name     result  confidence score
0             Imagina√ß√£o  29.859345   96.419379   low
1  Interesses Art√≠sticos  30.344121   96.619580   low
2            Emotividade  31.537457   96.728855   low
3     Desejo de Aventura  21.821854   95.106231   low
4       Intelectualidade  28.357195   96.181217   low
5            Liberalismo  25.909067   95.549525   low

### 1.3 Capture Openness Average

In [12]:
essay_pt_br_O_avg = """
√Äs vezes, tenho momentos de imagina√ß√£o, mas n√£o √© algo que me define completamente. Gosto de 
deixar minha mente vagar de vez em quando, mas tamb√©m sei que h√° muitos outros aspectos que 
moldam quem sou. Reconhe√ßo a import√¢ncia da arte, mas n√£o √© algo que considero fundamental na 
minha vida. Aprecio a beleza das express√µes art√≠sticas, mas sei que minha felicidade n√£o depende disso. 
√Äs vezes, sinto minhas emo√ß√µes intensamente, mas n√£o √© sempre o caso. H√° momentos em que sou mais 
reflexivo e racional, tentando ver as situa√ß√µes de forma equilibrada. Gosto de ter uma mistura de 
rotina e variedade; n√£o tenho uma prefer√™ncia forte por um ou outro. A rotina me proporciona estabilidade, 
mas tamb√©m sei que a variedade traz novas experi√™ncias e aprendizados. √Äs vezes gosto de ler material desafiador, 
mas minha prefer√™ncia pode variar dependendo do tipo de conte√∫do e do meu estado de esp√≠rito.
"""

In [13]:
analysis = create_analysis(
    name="Openness", essay=" ".join(essay_pt_br_O_avg.split()), domain="O", level="avg"
)

In [14]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result", "confidence", "score"])

                    name     result  confidence    score
0             Imagina√ß√£o  52.741165   97.843395  average
1  Interesses Art√≠sticos  48.145604   97.676131  average
2            Emotividade  51.445676   97.873470  average
3     Desejo de Aventura  47.226780   97.613841  average
4       Intelectualidade  52.158429   97.843888  average
5            Liberalismo  49.192419   97.737347  average

## 2. Big-Five Conscientiousness Domains üßë‚Äçüî¨

- Evaluate the capture of nuances of Conscientiousness texts.

### 2.1 Capture Conscientiousness High

In [15]:
essay_pt_br_C_high = """
Sou uma pessoa que leva a s√©rio minhas responsabilidades. Gosto de manter tudo organizado, desde meu espa√ßo de trabalho 
at√© minhas tarefas di√°rias. planejo com anteced√™ncia e me esfor√ßo para cumprir todas as metas que estabele√ßo para mim. 
Acredito que a disciplina √© a chave para o sucesso, por isso procuro sempre manter o foco e evitar distra√ß√µes. Quando me 
comprometo com algo, dou o meu melhor para entregar um trabalho bem feito e dentro do prazo. Para mim, ser confi√°vel e 
cumprir o que prometo √© fundamental.
"""

In [16]:
analysis = create_analysis(
    name="Conscientiousness",
    essay=" ".join(essay_pt_br_C_high.split()),
    domain="C",
    level="high",
)

In [17]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(
    score_conscientiousness_facets, columns=["name", "result", "confidence", "score"]
)

               name     result  confidence score
0     Auto-Efic√°cia  71.238444   98.516057  high
1       Organiza√ß√£o  68.852291   98.511230  high
2  Responsabilidade  69.376742   98.453051  high
3      Determina√ß√£o  68.275997   98.395386  high
4   Auto-Disciplina  69.097579   98.451434  high
5           Cautela  69.641867   98.459612  high

### 2.2 Capture Conscientiousness Low

In [18]:
essay_pt_br_C_low = """
Costumo ser mais espont√¢neo e n√£o me prendo muito a rotinas ou planejamentos. Prefiro viver o momento, e a ideia de seguir 
uma agenda r√≠gida n√£o me atrai. √Ås vezes, acabo deixando tarefas para depois e, confesso, nem sempre sou t√£o organizado 
quanto gostaria. N√£o me preocupo tanto com prazos ou com manter tudo em ordem, pois acredito que as coisas se resolvem 
eventualmente. Prefiro a liberdade de seguir o fluxo do que me prender a regras ou expectativas r√≠gidas.
"""

In [19]:
analysis = create_analysis(
    name="Conscientiousness",
    essay=" ".join(essay_pt_br_C_low.split()),
    domain="C",
    level="low",
)

In [20]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(score_conscientiousness_facets, columns=["name", "result", "confidence", "score"])

               name     result  confidence score
0     Auto-Efic√°cia  41.293594   96.798863   low
1       Organiza√ß√£o  31.838286   92.567167   low
2  Responsabilidade  31.195295   82.291517   low
3      Determina√ß√£o  41.673736   96.928100   low
4   Auto-Disciplina  40.435508   96.586744   low
5           Cautela  39.814414   96.828384   low

### 2.3 Capture Conscientiousness Average

In [21]:
essay_pt_br_C_avg = """
Eu me considero uma pessoa organizada, mas sem exageros. Gosto de planejar as coisas, mas tamb√©m sei ser 
flex√≠vel quando necess√°rio. Cumpro com minhas responsabilidades e me esfor√ßo para fazer um bom trabalho, 
mas n√£o sinto a necessidade de controlar todos os detalhes o tempo todo. Prefiro manter um equil√≠brio; 
gosto de estar preparado e manter um certo n√≠vel de disciplina, mas tamb√©m sei que, √†s vezes, √© preciso 
adaptar-se e improvisar.
"""

In [22]:
analysis = create_analysis(
    name="Conscientiousness",
    essay=" ".join(essay_pt_br_C_avg.split()),
    domain="C",
    level="avg",
)

In [23]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(score_conscientiousness_facets, columns=["name", "result", "confidence", "score"])

               name     result  confidence    score
0     Auto-Efic√°cia  51.952343   97.823179  average
1       Organiza√ß√£o  46.378675   97.616327  average
2  Responsabilidade  46.629938   97.343321  average
3      Determina√ß√£o  52.060649   97.774092  average
4   Auto-Disciplina  51.051788   97.778266  average
5           Cautela  51.023026   97.819353  average

## 3. Big-Five Extraversion Domains üï∫üíÉ

- Evaluate the capture of nuances of Extraversion texts.

### 3.1 Capture Extraversion High

In [24]:
essay_pt_br_E_high = """
Cara, eu curto demais estar com a galera! A vibe de estar com a turma me d√° um g√°s, sabe? Seja numa festa, 
num rol√™ ou at√© trocando ideia no dia a dia, t√¥ sempre na pilha de trocar uma ideia e conhecer gente nova. 
Quanto mais gente, mais divertido! Gosto de puxar papo, soltar umas piadas e fazer a galera dar risada. 
Ficar sozinho? N√£o √© muito a minha praia, prefiro mil vezes estar no meio da bagun√ßa, vivendo o agito. 
Pra mim, qualquer dia fica melhor quando tem gente por perto, seja no trampo ou s√≥ curtindo mesmo!
"""

In [25]:
analysis = create_analysis(
    name="Extraversion",
    essay=" ".join(essay_pt_br_E_high.split()),
    domain="E",
    level="high",
)

In [26]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result", "confidence", "score"])

                 name     result  confidence score
0            Simpatia  67.066376   98.495745  high
1       Sociabilidade  69.205369   98.550597  high
2       Assertividade  64.989231   98.448864  high
3  N√≠vel de Atividade  62.283576   98.363288  high
4  Busca de Excita√ß√£o  67.625751   98.508400  high
5           Bom Humor  64.130378   98.417816  high

### 3.2 Capture Conscientiousness Low

In [27]:
essay_pt_br_E_low = """
Eu prefiro passar mais tempo sozinho ou com um c√≠rculo pequeno de amigos pr√≥ximos. Intera√ß√µes sociais grandes 
e eventos movimentados n√£o s√£o exatamente o meu forte. Gosto de ambientes mais calmos e de ter tempo para refletir 
ou me dedicar a atividades pessoais. N√£o me sinto confort√°vel sendo o centro das aten√ß√µes e geralmente evito situa√ß√µes 
que exigem muita socializa√ß√£o. Para mim, a satisfa√ß√£o vem de momentos tranquilos e de conex√µes mais √≠ntimas, onde 
posso realmente me sentir √† vontade.
"""

In [28]:
analysis = create_analysis(
    name="Extraversion",
    essay=" ".join(essay_pt_br_E_low.split()),
    domain="E",
    level="low",
)

In [29]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result", "confidence", "score"])

                 name     result  confidence score
0            Simpatia  27.486164   96.550924   low
1       Sociabilidade  30.346209   96.856893   low
2       Assertividade  28.341956   96.564025   low
3  N√≠vel de Atividade  27.759411   96.535132   low
4  Busca de Excita√ß√£o  28.020680   96.586873   low
5           Bom Humor  30.690003   96.867483   low

### 3.3 Capture Conscientiousness Average

In [30]:
essay_pt_br_E_avg = """
Eu valorizo bastante as intera√ß√µes sociais e aprecio a companhia de outras pessoas, mas n√£o sinto a necessidade de 
estar sempre no centro das aten√ß√µes. Gosto de participar de conversas e eventos, mas tamb√©m valorizo meu tempo pessoal 
e momentos de reflex√£o. Embora eu me sinta confort√°vel em ambientes sociais e esteja aberto a novas conex√µes, encontro 
um equil√≠brio saud√°vel entre minha vida social e momentos de tranquilidade. Para mim, √© importante manter uma abordagem 
equilibrada, desfrutando tanto das oportunidades de socializa√ß√£o quanto dos per√≠odos de introspec√ß√£o e descanso.
"""

In [31]:
analysis = create_analysis(
    name="Extraversion",
    essay=" ".join(essay_pt_br_E_avg.split()),
    domain="E",
    level="avg",
)

In [32]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result", "confidence", "score"])

                 name     result  confidence    score
0            Simpatia  49.415012   97.922453  average
1       Sociabilidade  52.864599   98.099024  average
2       Assertividade  48.773343   97.756141  average
3  N√≠vel de Atividade  48.641836   97.798715  average
4  Busca de Excita√ß√£o  53.376334   97.977703  average
5           Bom Humor  51.154087   97.962775  average

## 4. Big-Five Agreeableness Domains üôãüß°

- Evaluate the capture of nuances of Agreeableness texts.

### 4.1 Capture Agreeableness High

In [33]:
essay_pt_br_A_high = """
Eu amo estar ao lado das pessoas, ajudar apoiar, cuidar e celebrar suas conquistas. Sei que o mundo pode 
ser um lugar desafiador, ent√£o fa√ßo quest√£o de ser uma fonte de paz e tranquilidade. Eu sempre tento 
iluminar os momentos sombrios com palavras de encorajamento e fazer com que todos saibam que podem 
contar comigo, seja qual for a situa√ß√£o. sou algu√©m que vive com o cora√ß√£o aberto, sempre disposto a dar 
o melhor de mim para que o mundo ao meu redor seja um lugar mais leve e gentil. 
"""

In [34]:
analysis = create_analysis(
    name="Agreeableness",
    essay=" ".join(essay_pt_br_A_high.split()),
    domain="A",
    level="high",
)

In [35]:
score_agreeableness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("agreeableness")
    .get("traits")
)
pd.DataFrame(score_agreeableness_facets, columns=["name", "result", "confidence", "score"])

         name     result  confidence score
0   Confian√ßa  59.643625   98.248036  high
1  Moralidade  58.130025   98.102958  high
2   Altru√≠smo  57.810855   98.208179  high
3  Coopera√ß√£o  61.153529   98.248757  high
4    Mod√©stia  61.760001   98.256776  high
5     Empatia  61.195779   98.296135  high

### 4.2 Capture Agreeableness Low

In [36]:
essay_pt_br_A_low = """
Honestamente, eu n√£o sou o tipo de pessoa que se preocupa muito em agradar os outros. N√£o √© que eu queira ser 
rude ou criar conflitos, mas simplesmente n√£o vejo sentido em perder tempo tentando agradar todo mundo. Prefiro 
ser direto e resolver as coisas de forma pr√°tica, sem rodeios. Socialmente, sou mais reservado e n√£o costumo buscar 
muitas amizades ou encontros. Valorizo minha independ√™ncia e, francamente, a ideia de ficar constantemente me preocupando 
com o que os outros pensam ou precisam n√£o √© algo que me atraia.
"""

In [37]:
analysis = create_analysis(
    name="Agreeableness",
    essay=" ".join(essay_pt_br_A_low.split()),
    domain="A",
    level="low",
)

In [38]:
score_agreeableness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("agreeableness")
    .get("traits")
)
pd.DataFrame(score_agreeableness_facets, columns=["name", "result", "confidence", "score"])

         name     result  confidence score
0   Confian√ßa  36.644227   97.183902   low
1  Moralidade  33.975969   97.047184   low
2   Altru√≠smo  36.385500   97.293485   low
3  Coopera√ß√£o  33.602014   97.121217   low
4    Mod√©stia  34.212409   97.151715   low
5     Empatia  38.423873   97.433688   low

### 4.3 Capture Agreeableness Average

In [39]:
essay_pt_br_A_avg = """
Sou uma pessoa que realmente se importa com os outros. Gosto de ajudar, de ouvir, e acredito que o mundo 
fica melhor quando as pessoas se tratam com bondade e respeito. Procuro sempre entender o ponto de vista 
das pessoas ao meu redor e fa√ßo quest√£o de criar um ambiente harmonioso onde todos se sintam √† vontade.
Em resumo, sou algu√©m que acredita na gentileza como uma for√ßa poderosa. Estar l√° para as pessoas ao meu redor 
√© algo natural para mim, e sinto uma enorme satisfa√ß√£o em contribuir para que todos se sintam bem e respeitados.
"""

In [40]:
analysis = create_analysis(
    name="Agreeableness",
    essay=" ".join(essay_pt_br_A_avg.split()),
    domain="A",
    level="avg",
)

In [41]:
score_agreeableness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("agreeableness")
    .get("traits")
)
pd.DataFrame(score_agreeableness_facets, columns=["name", "result", "confidence", "score"])

         name     result  confidence    score
0   Confian√ßa  49.585912   97.931324  average
1  Moralidade  46.351109   97.745631  average
2   Altru√≠smo  47.352329   97.877038  average
3  Coopera√ß√£o  47.886017   97.843678  average
4    Mod√©stia  48.895359   97.870599  average
5     Empatia  48.582650   97.902994  average

## 5. Big-Five Neuroticism Domains üôÖüí¢

- Evaluate the capture of nuances of Neuroticism texts.

### 5.1 Capture Neuroticism High

In [42]:
essay_pt_br_N_high = """
Fico irritado muito facilmente; pequenos contratempos podem me deixar frustrado a ponto de estragar meu dia. 
Essa sensibilidade me faz sentir vulner√°vel a coisas que, para muitos, talvez passassem despercebidas. Al√©m disso, 
sinto-me frequentemente triste; essa sensa√ß√£o √© uma parte significativa da minha experi√™ncia emocional e parece 
estar sempre √† espreita, pronta para me puxar para baixo quando menos espero. Sempre acho dif√≠cil me aproximar 
dos outros; sinto uma grande ansiedade ao tentar iniciar intera√ß√µes e muitas vezes evito situa√ß√µes sociais por 
causa disso. A ideia de me expor, de me colocar em situa√ß√µes sociais, me causa um desconforto enorme, ent√£o prefiro 
me distanciar, evitando o contato sempre que poss√≠vel. Tenho uma tend√™ncia a ir a excessos; frequentemente me entrego 
completamente a h√°bitos ou atividades, sem muito controle sobre os limites e consequ√™ncias. Isso pode parecer uma forma 
de escapar das emo√ß√µes, mas muitas vezes s√≥ me leva a um ciclo de exaust√£o e arrependimento.
"""

In [43]:
analysis = create_analysis(
    name="Neuroticism",
    essay=" ".join(essay_pt_br_N_high.split()),
    domain="N",
    level="high",
)

In [44]:
score_neuroticism_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("neuroticism")
    .get("traits")
)
pd.DataFrame(score_neuroticism_facets, columns=["name", "result", "confidence", "score"])

                   name     result  confidence score
0             Ansiedade  60.619475   98.353003  high
1                 Raiva  67.719926   98.478455  high
2            Melancolia  59.065718   98.350542  high
3      Auto-Consci√™ncia  60.088696   98.366911  high
4         Impulsividade  59.985071   98.262695  high
5  Suscet√≠vel ao Stress  69.728556   98.572110  high

### 5.2 Capture Neuroticism Low

In [45]:
essay_pt_br_N_low = """
Eu sou bem tranquilo e n√£o me deixo abalar facilmente. Mesmo quando as coisas d√£o errado, procuro manter 
a calma e resolver tudo com a cabe√ßa no lugar. N√£o sou de ficar estressado ou ansioso por qualquer coisa, 
e raramente me preocupo com problemas pequenos. Prefiro acreditar que tudo se resolve com o tempo e que n√£o 
adianta se desesperar. Tento levar a vida de boa, sem me deixar levar por emo√ß√µes negativas ou preocupa√ß√µes 
exageradas.
"""

In [46]:
analysis = create_analysis(
    name="Neuroticism",
    essay=" ".join(essay_pt_br_N_low.split()),
    domain="N",
    level="low",
)

In [47]:
score_neuroticism_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("neuroticism")
    .get("traits")
)
pd.DataFrame(score_neuroticism_facets, columns=["name", "result", "confidence", "score"])

                   name     result  confidence score
0             Ansiedade  18.499195   92.366698   low
1                 Raiva  25.374912   95.491585   low
2            Melancolia  15.473917   91.340477   low
3      Auto-Consci√™ncia  18.587314   94.037844   low
4         Impulsividade  18.746016   87.012208   low
5  Suscet√≠vel ao Stress  25.947378   96.248764   low

### 5.2 Capture Neuroticism Average

In [48]:
essay_pt_br_N_avg = """
Gosto de dar uma esquentada nas coisas, sim! Gosto de ter tudo sob controle, e quando algo sai dos trilhos, 
confesso que fico preocupado ou at√© mesmo ansioso e nervoso. Para mim o equilibrio n√£o existe, vou de 0 a 100 
rapidamente. Meu lado neur√≥tico e controlador acaba falando mais alto! Me sinto constantemente cansado, porque
minha mente n√£o para. Sempre fico com aquele sentimento de que estou esquecendo algo, de que deveria estar 
fazendo mais, de que o que j√° fiz n√£o foi suficiente. √â como se minha pr√≥pria mente fosse um campo minado, 
onde qualquer passo em falso pode me levar de volta para essa montanha de ansiedades e medos.
"""

In [49]:
analysis = create_analysis(
    name="Neuroticism",
    essay=" ".join(essay_pt_br_N_avg.split()),
    domain="N",
    level="avg",
)

In [50]:
score_neuroticism_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("neuroticism")
    .get("traits")
)
pd.DataFrame(score_neuroticism_facets, columns=["name", "result", "confidence", "score"])

                   name     result  confidence    score
0             Ansiedade  54.198578   98.186102  average
1                 Raiva  58.943354   98.346961     high
2            Melancolia  53.269677   98.184657  average
3      Auto-Consci√™ncia  54.781141   98.222626  average
4         Impulsividade  54.323041   98.158006  average
5  Suscet√≠vel ao Stress  59.738534   98.358060     high